node_modules
.env
coverage
coverage.json
typechain
typechain-types
dist
/deployments/localhost

# Hardhat files
cache
artifacts

yarn-error.log

.yarn/install-state.gz

*CLAUDE.md

CLAUDE.md
*/CLAUDE.md
*/*/CLAUDE.md
*/*/*/CLAUDE.md
docs/ai-context/

out/
cache_forge/

AGENTS.md


docs/
./scripts